<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exampleUsage</key>
	<string>/searchName={searchName}&amp;number={number} =&gt; /searchName=test&amp;number=10</string>
	<key>apiKey</key>
	<string>1f54bd990f1cdfb230adb312546d765d</string>
	<key>nowPlaying</key>
	<string>/movie/now_playing?language={language}&amp;page={page}&amp;</string>
	<key>upcoming</key>
	<string>/movie/upcoming?language={language}&amp;page={page}&amp;</string>
	<key>topRated</key>
	<string>/movie/top_rated?language={language}&amp;page={page}&amp;</string>
	<key>popular</key>
	<string>/movie/popular?language={language}&amp;page={page}&amp;</string>
	<key>movie</key>
	<string>/movie/{idMovie}?language={language}&amp;</string>
	<key>recommendations</key>
	<string>/movie/{idMovie}/recommendations?page={page}&amp;</string>
	<key>searchByGenre</key>
	<string>/genre/{id}/movies?language={language}&amp;</string>
	<key>tvPopular</key>
	<string>/tv/popular?language={language}&amp;page={page}&amp;</string>
	<key>tvOnTheAir</key>
	<string>/tv/on_the_air?language={language}&amp;page={page}&amp;</string>
	<key>tvTopRated</key>
	<string>/tv/top_rated?language={language}&amp;page={page}&amp;</string>
	<key>tvLatest</key>
	<string>/tv/latest?language={language}&amp;</string>
	<key>tvAiringToday</key>
	<string>/tv/airing_today?language={language}&amp;page={page}&amp;</string>
	<key>tvShow</key>
	<string>/tv/{id}?language={language}&amp;</string>
	<key>tvRecommendations</key>
	<string>/tv/{id}/recommendations?language={language}&amp;</string>
	<key>genres</key>
	<string>/genre/movie/list?language={language}&amp;</string>
</dict>
</plist>
