<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDF53EB220CAB21200542DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF53EC620CAB21300542DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF53ED120CAB21300542DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
